body{
	max-width:960px; 
	font-family: sans-serif;
	font-size:100%;
	margin: 0 auto;
	background-color: #C9DAF8;
}

#wrapper{
	width:100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #ffffff;
	border:10px solid #A4C2F4;
}

header{
	margin: 0 auto;
	text-align: center;
}

#section{
	Margin: 3.125%;
	padding: 1.046666667%;
	border-top: solid #A4C2F4;
}

footer{
	Margin: 3.125%;
	padding: 1.046666667%;
	border-top: solid #A4C2F4;
}

ul{
	list-style-type:square #A4C2F4;
	margin:0;
	padding:0;
}
	
li{
	display:inline;
	padding-left: 3.125%;
}