

body{
	max-width: 960px;
	font-family: 'Bree Serif', serif;
	background-image: url(images/background-tile.jpg);
}

#wrapper{
	width: 100%;
	background-color: white;
}
	
/*Header......................................................*/

ul{
	float:right;
	background-color: #1b4424;
	width: 73.958333333333%;
}

li{
	display: inline-block;
	color: white;
	line-height: 2em;
	padding: 
	}
	
nav a:link, nav a:visited{
	background-color: #1b4424;
	color: white;
}
	
nav a:hover, nav a:active{
	color: white;
	background-color: #03935e:
}
/*media Queries..............................................*/

/*tablet portrait size to standard 960 (devices & browsers)*/
@media screen and (min-width:768px) and (max-width:959px){


/* mobile landscape size to tablet portrait size (devices and browsers)*/
@media only screen and (min-width:480px) and (max-width:767px) {
	
	
/*mobile portrait size to mobile landscape size (devices and browsers)*/
@media only screen and (max-width: 479px) {