

body{
	max-width: 960px;
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	background-image: url('../images/background-tile.jpg');
	margin: 0 auto;
}

#wrapper{
	width: 100%;
	background-color: white;
	padding: 0;
}
	
/*Header......................................................*/

#escape-hatch{
	float:left;
	max-width: 25%;
	padding: 1.0416666666667%;
}

#escape-hatch h1{
	font-size: 1em;
	color: #1b4424;
	float:left;
	padding:0;
}
	
#escape-hatch img{
	float:left;
	max-width:100%;
}

ul{
	float:right;
	background-color: #1b4424;
	width: 72.916666666667% /*700 px / 960px*/;
	padding:0;
}

li{
	width: 11.428571428571% /*80/700*/;
	float: left;
	color: white;
	text-decoration: none;
	line-height: 1.5em;
	padding: 1.428571428571%;
	text-align: center;
	list-style-type: none;
	}
	
nav a:link, nav a:visited{
	width: 11.428571428571% /*80/700*/;
	color: white;
	text-decoration: none;
	line-height: 1.5em;
	padding: 1.428571428571%;
	text-align: center;
	list-style-type: none;
}
	
nav a:hover, nav a:active{
	color: white;
	background-color: #03935e;
	width: 11.428571428571% /*80/700*/;
	line-height: 1.5em;
	padding: 1.428571428571%;
}

p{
	margin:0;
	padding: 1.0416666666667%;
	color: #1b4424;
}

h2{
	margin:0;
	padding: 1.0416666666667%;
	color: #1b4424;
}
	
/*..........................................................end*/

/*content for pages.............................................*/

.secondarycta{
	width: 22.91666666667%;
	float: left;
	padding: 1.04166666666667%;
	background-color: white;
}

.secondarycta img{
	max-width:100%;
	padding: 0;
	margin: 0;
}

h3{
	background-color: #1b4424;
	color: white;
	margin:0;
	padding: 0;
	line-height: 2em;
	font-weight: normal;
}

footer ul{
	width: 100%;
	clear:both;
	display: block;
	background-color: #03935e;
	margin:0;
}

footer li{
	float: left;
	width: 30.3333333333%;
	text-align: center;
	background-color: #03935e;
	color: white;
}

footer img{
	max-width: 100%;
}

footer #smalllogo{
	max-width: 100%:
}
	
	
aside{
	width: 81.1458333333333%;
	margin: 0 auto;
}

aside img{
	max-width: 100%;
	margin: 0 auto;
	padding: 0, 9.42708333333%, 0, 9.42708333333%;
}

#topcontent{
	clear: both;
	width: 90%;
	margin: 0 auto;
	background-color: white;
}

#topcontent img{
	max-width:100%;
	float: left;
}

#topcontenttext{
	float: right;
	width:50%;
	font-weight: normal;
	background-color:white;
}

#topcontenttext h2{
	font-size: 1.5em;
	padding: 0;
}

.basketinfo{
	width: 22.91666666667%;
	float: left;
	padding: 1.04166666666667%; 
	background-color: white;
	height: 200px;
	overflow:hidden;
}

.basketinfo img{
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.giftbasketpg{
	display: block;
	width:100%
	background-color: white;
}

/*media Queries..............................................*/

/*tablet portrait size to standard 960 (devices & browsers)*/
@media screen and (min-width:768px) and (max-width:959px){

}


/* mobile landscape size to tablet portrait size (devices and browsers)*/
@media only screen and (min-width:480px) and (max-width:767px) {

}
	
/*mobile portrait size to mobile landscape size (devices and browsers)*/
@media only screen and (max-width: 479px) {

}